body {
  background-image: linear-gradient(45deg, #4ebd36, #7e7cf9);
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 100px;
  font-family: Roboto, sans-serif;
  margin: 0;
  box-sizing: border-box;
}

.App {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  margin-bottom: 150px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.wrapper {
display: flex;
margin-bottom: 150px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

